
* {
    margin: 0;
    padding: 0;
    box-sizing: border-bo,mx;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #222;
    line-height: 1.6;
}
header {
    background-color: #042732;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    position: sticky;
}
.logo {
    color: white;
    font-size: 26px;
}

nav {
 display: flex;
 gap: 30px;
}

nav a {
color: white;
 text-decoration: none;
 font-size: 16px;
 transition: 0.3s;
}

nav a:hover {
 color: #00d9ff;
}


#home {
 min-height: 600px;
 display: flex;
justify-content: space-between;
align-items: center;
 padding: 80px;
background-color: #fff3df;
}
.home-content {
    width: 65%;
}
.home-content h2 {
 font-size: 42px;
 color: #042732;
 margin-bottom: 20px;
}

.home-content h2 span {
    color: #0097b2;
}

.home-content p {
 max-width: 750px;
 margin-bottom: 25px;
}


.home-image {
 width: 30%;
text-align: center;
}

.home-image img {
 width: 260px;
 height: 320px;
  object-fit: cover;
 border-radius: 50%;
 border: 6px solid #042732;
}
.button {
 padding: 12px 22px;
  margin-right: 10px;
  background-color: #042732;
  color: white;
  border: none;
    border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
    transition: 0.3s;
}
.button:hover {
    background-color: #0097b2;
}