
* {
    margin: 0;
    padding: 0;
    box-sizing: border-bo,mx;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #222;
    line-height: 1.6;
}
header {
    background-color: #042732;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    position: sticky;
}
.logo {
    color: white;
    font-size: 26px;
}

nav {
 display: flex;
 gap: 30px;
}

nav a {
color: white;
 text-decoration: none;
 font-size: 16px;
 transition: 0.3s;
}

nav a:hover {
 color: #00d9ff;
}


#home {
 min-height: 600px;
 display: flex;
justify-content: space-between;
align-items: center;
 padding: 80px;
background-color: #fff3df;
}
.home-content {
    width: 65%;
}
.home-content h2 {
 font-size: 42px;
 color: #042732;
 margin-bottom: 20px;
}

.home-content h2 span {
    color: #0097b2;
}

.home-content p {
 max-width: 750px;
 margin-bottom: 25px;
}


.home-image {
 width: 30%;
text-align: center;
}

.home-image img {
 width: 260px;
 height: 320px;
  object-fit: cover;
 border-radius: 50%;
 border: 6px solid #042732;
}
.button {
 padding: 12px 22px;
  margin-right: 10px;
  background-color: #042732;
  color: white;
  border: none;
    border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
    transition: 0.3s;
}
.button:hover {
    background-color: #0097b2;
}
#about {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 80px;
    background-color: white;
}
.about-image {
    width: 40%;
    text-align: center;
}
.about-image h2 {
    color: #042732;
    margin-bottom: 25px;
}
.about-image img {
    width: 280px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
    border: 5px solid #042732;
}
.about-content {
    width: 60%;
}
.about-content h3 {
    color: #042732;
    margin-top: 15px;
    margin-bottom: 8px;
}
.about-content p {
    margin-bottom: 15px;
}
.about-content ul {
    margin-left: 20px;
}


#education  h2 {
    color: #042732;
    font-size: 32px;
    margin-bottom: 40px;
}
.education-container {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.education-card {
    background-color: white;
    width: 33%;
    padding: 30px;
    border-radius: 15px;
    text-align: left;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.education-card:hover {
    transform: translateY(-5px);
}
.education-card h3 {
    color: #0097b2;
    margin-bottom: 15px;
    font-size: 22px;
}
.education-card p {
    margin-bottom: 8px;
}

#skill {
    padding: 80px;
    background-color: white;
    text-align: center;
}
#skill h2 {
    color: #042732;
    font-size: 32px;
    margin-bottom: 40px;
}
.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}
.skill-card {
    width: 280px;
    background-color: #e9f8fb;
    padding: 25px;
    border-radius: 15px;
    border-left: 5px solid #0097b2;
    transition: 0.3s;
}
.skill-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.skill-card h3 {
    color: #042732;
    margin-bottom: 10px;
}
#contact {
    padding: 70px;
    background-color: #042732;
    color: white;
    text-align: center;
}
#contact h2 {
    margin-bottom: 25px;
    color: #00d9ff;
}
#contact p {
    margin: 8px;
}
footer {
    background-color: #021b24;
    color: white;
    text-align: center;
    padding: 20px;
}
